<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="taxvat" translate="label" type="text" sortOrder="2006" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Tax VAT</label>
            <tab>swissup_checkout</tab>
            <resource>Swissup_Taxvat::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="validate" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Validate VAT number using online VIES validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[More information about VIES here: <a href="http://ec.europa.eu/taxation_customs/vies/faq.html" target="_blank">FAQ</a>, <a href="http://ec.europa.eu/taxation_customs/vies/help.html" target="_blank">Help</a>]]></comment>
                </field>
                <field id="required" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show VAT field as required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
