<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Validation according to field status -->
    <type name="Magento\Customer\Model\Address\AddressModelInterface">
        <plugin name="AddressFieldManager" type="Swissup\AddressFieldManager\Plugin\Model\Address" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="AddressFieldManager" type="Swissup\AddressFieldManager\Plugin\Model\AddressRepository" sortOrder="1" />
    </type>

    <!-- Proper address rendering -->
    <!-- This plugin is not used in favor of js mixins. @see requirejs-config.js -->
    <!-- <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="AddressFieldManager" type="Swissup\AddressFieldManager\Plugin\Block\CheckoutLayoutProcessor" sortOrder="1"/>
    </type> -->
</config>
