<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout_cart>
            <general>
                <enabled>0</enabled>
                <change_sort_order>0</change_sort_order>
            </general>
        </checkout_cart>
    </default>
</config>
