<!--
/**
 * Modified version of Magento/Checkout/view/frontend/web/template/billing-address/details.html
 *
 * Added ko if: statements to remove possible blank lines.
 */
-->
<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <!-- ko text: currentBillingAddress().prefix --><!-- /ko --> <!-- ko text: currentBillingAddress().firstname --><!-- /ko -->
    <!-- ko text: currentBillingAddress().lastname --><!-- /ko --> <!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/>

    <!-- ko text: currentBillingAddress().street --><!-- /ko --><!-- ko if: currentBillingAddress().street && currentBillingAddress().street[0] --><br/><!-- /ko -->

    <!-- ko text: currentBillingAddress().city --><!-- /ko --><!-- ko if: currentBillingAddress().city -->, <!-- /ko -->
    <!-- ko text: currentBillingAddress().region --><!-- /ko -->
    <!-- ko text: currentBillingAddress().postcode --><!-- /ko -->

    <!-- ko if: currentBillingAddress().city || currentBillingAddress().region || currentBillingAddress().postcode -->
        <br/>
    <!-- /ko -->

    <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko --><br/>
    <!-- ko text: currentBillingAddress().telephone --><!-- /ko --><!-- ko if: currentBillingAddress().telephone --><br/><!-- /ko -->
    <button type="button"
            class="action action-edit-address"
            data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
</div>
