<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Orderattachment::orderattachment_attachment"
            title="Order Attachments"
            module="Swissup_Orderattachment"
            sortOrder="1566"
            parent="Swissup_Checkout::checkout"
            action="orderattachment/attachment"
            resource="Swissup_Orderattachment::orderattachment_attachment"/>
    </menu>
</config>
