<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Checkout::checkout"
            title="Checkout"
            module="Swissup_Checkout"
            sortOrder="2"
            parent="Swissup_Core::swissup"
            resource="Swissup_Checkout::checkout"
        />
    </menu>
</config>
