<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="firecheckout" type="text" sortOrder="635" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Firecheckout</label>
            <tab>swissup_checkout</tab>
            <resource>Swissup_Firecheckout::config_firecheckout</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url_path" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Url Path</label>
                    <comment><![CDATA[1. Do not use Magento built-in static urls like 'checkout', 'account' etc.<br/>2. Make sure that specified path is not used by category, product or cms page.]]></comment>
                    <validate>required-entry validate-code</validate>
                </field>
            </group>
            <group id="design" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Design</label>
                <field id="page_layout" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Layout</label>
                    <source_model>Swissup\Firecheckout\Model\Config\Source\PageLayout</source_model>
                </field>
                <field id="layout" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Swissup\Firecheckout\Model\Config\Source\Layout</source_model>
                    <config_path>firecheckout/general/layout</config_path>
                </field>
            </group>
            <group id="additional_content" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional Content</label>
                <field id="top" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Above Firecheckout Form</label>
                    <source_model>Swissup\Core\Model\Config\Source\CmsBlock</source_model>
                </field>
                <field id="bottom" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Below Firecheckout Form</label>
                    <source_model>Swissup\Core\Model\Config\Source\CmsBlock</source_model>
                </field>
                <field id="below_order_summary" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Below order summary</label>
                    <source_model>Swissup\Core\Model\Config\Source\CmsBlock</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
