<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="address_autocomplete" translate="label" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Address Autocomplete</label>
            <tab>swissup_checkout</tab>
            <resource>Swissup_AddressAutocomplete::config</resource>
            <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment><![CDATA[<a href="https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key">Get API Key</a>]]></comment>
                </field>

                <field id="street_number_placement" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Street Number Placement</label>
                    <source_model>Swissup\AddressAutocomplete\Model\Config\Source\StreetNumberPlacement</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
