<div class="fieldset swissup-delivery-date">
    <div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses">
        <label class="label" data-bind="attr: { for: element.uid }">
            <span data-bind="text: getTitle()"></span>
        </label>
        <div class="control">
            <input class="input-text" type="text" data-bind="datePicker: true"  name="delivery_date" id="delivery_date"/>

            <!-- ko if: element.notice -->
                <div class="field-note" data-bind="attr: { id: element.noticeId }"><span data-bind="text: element.notice"></span></div>
            <!-- /ko -->

            <!-- ko if: element.error() -->
                <div class="mage-error" data-bind="attr: { for: element.uid }, text: element.error" generated="true"></div>
            <!-- /ko -->

            <!-- ko if: element.warn() -->
                <div class="message warning" generated="true"><span data-bind="text: element.warn"></span></div>
            <!-- /ko -->
        </div>
    </div>
</div>