<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="core_layout_render_element">
        <observer name="swissup_delivery_date_add_to_order_view" instance="Swissup\DeliveryDate\Observer\Adminhtml\Order\Shipping\ViewObserver" />
    </event>

    <event name="adminhtml_sales_order_create_process_data_before">
        <observer name="swissup_deliverydate_save_to_quote" instance="Swissup\DeliveryDate\Observer\Adminhtml\SaveDeliveryDateToQuoteObserver" />
    </event>
</config>