<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="geoip" translate="label" type="text" sortOrder="720" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Geoip</label>
            <tab>swissup_checkout</tab>
            <resource>Swissup_Geoip::config</resource>
            <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filename" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maxmind database filename</label>
                    <comment><![CDATA[<a href="https://dev.maxmind.com/geoip/geoip2/geolite2/" target="_blank">Download</a> free Maxmind database and unzip file under the [MAGENTO2_ROOT]/vendor/swissup/geoip if you don't have it.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
