<div class="place-order">
    <!-- ko if: message().length > 0 -->
    <div class="message notice">
        <span><!-- ko text: message()--><!-- /ko --></span>
    </div>
    <!-- /ko -->
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action primary checkout" type="button" data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')}
                    " title="Place Order">
                <span data-bind="i18n: 'Place Order'">Place Order</span>
            </button>
        </div>
    </div>
</div>
