body {  margin: 0; padding: 0; font-family: Helvetica; font-size: 14px; }

#wrapper { padding: 0 10px; margin:10px 0 0 0; float: left; }
#primary { margin:0; padding:0; float: left; }
#primary .body { }
#primary .content { margin:0; padding:0; min-height: 40px; }
#primary .inner-content { margin:0; padding:0; }
#secondary { display: none; }
#tertiary { margin:0; float: left; width: 100%;}
#footer { margin-bottom: 10px; }


	#top-links {
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
	}	
	#top-links li {
		margin: 0;
		background: #efefef;
		display: block;
		margin-bottom: 3px;
	}
	#top-links a {
		display: block;
		padding: 10px;
		text-align: center;
	}		
	#menu { padding:0; }
	#menu li {
		float: none;
    background: #565656;
    border-right: 3px solid #88BC36;
	}
	#menu a {
		text-align: center;
		font-size: 14px;
	}
	.anythingSlider {
  	display: none !important;
	}
	#home-buttons li {
  	float: none;
	}
	#home-buttons li.middle {
  	margin: 0;
	}

	#left-info, #right-info, .best-sellers-title, #featured, #footer {
  	display: none;
  }