<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <firecheckout>
            <general>
                <enabled>0</enabled>
                <url_path>firecheckout</url_path>
                <layout>firecheckout-col3-set</layout>
            </general>
            <design>
                <page_layout>default</page_layout>
            </design>
            <additional_content>
                <top></top>
                <bottom></bottom>
                <below_order_summary></below_order_summary>
            </additional_content>
        </firecheckout>
    </default>
</config>
