<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_SubscriptionChecker::subscription"
            title="Activate Subscription"
            module="Swissup_SubscriptionChecker"
            sortOrder="1"
            parent="Swissup_Core::services"
            action="subscriptionchecker/subscription"
            resource="Swissup_SubscriptionChecker::subscription"
        />
    </menu>
</config>
