<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <success_page>
            <general>
                <enabled>0</enabled>
                <detailed_info>1</detailed_info>
            </general>
            <blocks>
                <block_top>0</block_top>
                <block_bottom>0</block_bottom>
            </blocks>
        </success_page>
    </default>
</config>
