<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_postdispatch_checkout_cart_add">
        <observer name="fix_checkout_cart_add_is_ajax" instance="Swissup\Ajaxpro\Observer\FixIsAjaxCheckoutObserver" />
    </event>

    <event name="controller_action_postdispatch_catalog_product_compare_add">
        <observer name="fix_catalog_product_compare_add_is_ajax" instance="Swissup\Ajaxpro\Observer\FixIsAjaxObserver" />
    </event>

    <event name="controller_action_postdispatch_wishlist_index_add">
        <observer name="fix_wishlist_index_add_is_ajax" instance="Swissup\Ajaxpro\Observer\FixIsAjaxObserver" />
    </event>

    <event name="controller_action_postdispatch_wishlist_index_remove">
        <observer name="fix_wishlist_index_remove_is_ajax" instance="Swissup\Ajaxpro\Observer\FixIsAjaxObserver" />
    </event>

</config>