<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_CheckoutCustomField
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_customfiled_order" type="Bss\CheckoutCustomField\Block\Plugin\Checkout\LayoutProcessorPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save-in-quote" type="Bss\CheckoutCustomField\Model\Plugin\Checkout\ShippingInformationManagementPlugin" sortOrder="11"/>
    </type>
    <preference for="Magento\Quote\Model\QuoteManagement" type="Bss\CheckoutCustomField\Model\Plugin\Quote\QuoteManagement" />
    <virtualType name="Bss\CheckoutCustomField\Model\ResourceModel\Attribute\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bss_checkout_attribute</argument>
            <argument name="resourceModel" xsi:type="string">Bss\CheckoutCustomField\Model\ResourceModel\Attribute</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bsschecoutcustomfield_record_attributes_list_data_source" xsi:type="string">Bss\CheckoutCustomField\Model\ResourceModel\Attribute\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Pdf\Invoice" />
    <preference for="Magento\Sales\Model\Order\Pdf\Shipment" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Pdf\Shipment" />
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Pdf\Creditmemo" />
    <preference for="Magento\Email\Model\BackendTemplate" type="Bss\CheckoutCustomField\Model\Plugin\Email\BackendTemplate" />

    <preference for="Magento\Sales\Model\Order\Email\Sender\OrderSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\OrderSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\OrderCommentSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\OrderCommentSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\ShipmentSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\ShipmentSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\ShipmentCommentSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\ShipmentCommentSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\InvoiceSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\InvoiceSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\InvoiceCommentSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\InvoiceCommentSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\CreditmemoSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\CreditmemoSender" />
    <preference for="Magento\Sales\Model\Order\Email\Sender\CreditmemoCommentSender" type="Bss\CheckoutCustomField\Model\Plugin\Sales\Order\Email\Sender\CreditmemoCommentSender" />    
</config>