<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vsourz" translate="label" sortOrder="500">
            <label>Vsourz</label>
        </tab>
        <section id="ordercomment" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <class>separator-top</class>
            <label>Order Comment</label>
            <tab>vsourz</tab>
            <resource>Vsourz_Ordercomment::config_ordercomment</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="order_comment_title" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Comment Section Title</label>
                    <comment>Enter Order Comment Section Title.</comment>
                </field>
				
				<field id="order_comments" translate="label comment" type="select" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Order Comment </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="order_comment_text_title" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Comment Title</label>
                    <comment>Enter Order Comment Title.</comment>
					<depends>
                        <field id="order_comments">1</field>
                    </depends>
                </field>
				<field id="order_comments_field_required" translate="label comment" type="select" sortOrder="50"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Comment Required ?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="order_comments">1</field>
                    </depends>
                </field>
				<field id="order_file_upload" translate="label comment" type="select" sortOrder="60"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Order Attachment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			
				<field id="order_comment_file_title" translate="label comment" type="text" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Attachment Title</label>
                    <comment>Enter Order Attachment Title.</comment>
					<depends>
                        <field id="order_file_upload">1</field>
                    </depends>
                </field>
			
				<field id="order_comments_file_required" translate="label comment" type="select" sortOrder="80"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Attachment Required ?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="order_file_upload">1</field>
                    </depends>
                </field>
                <field id="order_comments_file_type" translate="label comment" type="text" sortOrder="90"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label> Order Attachment Type Allowed</label>
					<comment>If you have leave empty then by default file type allowed are jpg,jpeg,gif,png,txt,exe,psd,csv,doc
					</comment>
					<depends>
                        <field id="order_file_upload">1</field>
                    </depends>
                </field>

            </group>
        </section>
    </system>
</config>