<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="vsourz_order_comments" instance="Vsourz\Ordercomment\Observer\SaveOrderComments"/>
    </event>
    <event name="core_layout_render_element">
        <observer name="vsourz_order_comments_display_in_order_view" instance="Vsourz\Ordercomment\Observer\DisplayOrderComments" />
    </event>
</config>